
:root {
  --black: #292f36;
  --text-color: #f9f6ef;
  --background-color: #282828;
  --light-blue: #009ffd;
  --blue: #4ecdc4;
  --dark-blue: #30638e;
  --highlighted-text: #497f7f;
  --code-black: #373c47;
  --code-font-color: #b3b9c5;
  --font-family: system-ui;
  --md: 800px;
}

body.light-mode {
  --background-color: #f9f6ef;
  --text-color: #292f36;
  --highlighted-text: #497f7f;
  --code-black: #eaeaea;
  --code-font-color: #292f36;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-size: 1.2rem; */
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a, a:hover {
  color: var(--highlighted-text);
}

.showMoreButton {
  background-color: var(--code-font-color);
  border: none;
  border-radius: 4px;
  color: var(--code-black);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
  transition-duration: 0.4s;
  padding: 10px;
}

.showMoreButton:hover {
  background-color: var(--highlighted-text);
  color: white;
}

.themeToggleButton {
  background: transparent;
  border: transparent;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

.themeToggleButton:hover {
  cursor: pointer;
}

.navLink {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: bold;
  font-family: var(--font-family);
  margin: 0;
  align-self: center;
}

.selectedLink {
  color: var(--highlighted-text);
  font-weight: bold;
  align-self: center;
}

header {
  margin-top: 10px;
  display: flex;
  gap: 40px;
  padding: 0 .5rem 0 .5rem;
}

body {
  width: 95vw;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: 100%;
	min-height: 0;
  padding: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* border-top: 1px solid red; */
  padding: 1.5rem 2.5rem;
}


.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.5rem;
  background: transparent;
  border: none;
  position: relative;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
}

/* For larger screens */
@media (min-width: 768px) {
  header {
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  .nav-items {
    display: flex;
    gap: 20px;
  }
}

/* For smaller screens */
@media (max-width: 768px) {
  .nav-items {
    display: none;
  }

  header {
    justify-content: flex-end;
  }

  .nav-items.open {
    height: 100%;
    display: flex;
    width: 100%;
    position: fixed; /* Stay in place */
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
  }

  /* footer {

  } */
}