:root {
  --black: #292f36;
  --text-color: #DCC9A9;
  --background-color: #282828;
  --light-blue: #009ffd;
  --blue: #4ecdc4;
  --dark-blue: #30638e;
  --highlighted-text: #B83A2D;
  /* --white: #f7fff7; */
  --white: #ccc;
  --red: #ff6b6b;
  --orange: #edae49;
  --yellow: #ffe66d;
  --purple: #c3adf4;
  --cream: #f1dac4;
  --green: #90be6d;
  --code-black: #373c47;
  --code-font-color: #b3b9c5;
  --font-family: system-ui;
  /* Breakpoint */
  --md: 800px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: white;
  font-family: var(--font-family);
}

a:hover, .selectedLink {
  color: var(--highlighted-text);
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}

.navLink {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}


.pageNameNav {
  display: flex;
  gap: 40px;
}


header {
  margin-top: 10px;
  height: 5vh;
  margin-right: 10vw;
  margin-left: 10vw;
}

body {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 5vh;
}

