
:root {
  --black: #292f36;
  --text-color: #f9f6ef;
  --background-color: #282828;
  --light-blue: #009ffd;
  --blue: #4ecdc4;
  --dark-blue: #30638e;
  --highlighted-text: #497f7f;
  --code-black: #373c47;
  --code-font-color: #b3b9c5;
  --font-family: system-ui;
  --md: 800px;
}

body.light-mode {
  --background-color: #f9f6ef;
  --text-color: #292f36;
  --highlighted-text: #497f7f;
  --code-black: #eaeaea;
  --code-font-color: #292f36;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-size: 1.2rem; */
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a, a:hover, .selectedLink {
  color: var(--highlighted-text);
  font-weight: bold;
}

.showMoreButton {
  background-color: var(--code-font-color);
  border: none;
  border-radius: 4px;
  color: var(--code-black);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
  transition-duration: 0.4s;
  padding: 10px;
}

.showMoreButton:hover {
  background-color: var(--highlighted-text);
  color: white;
}

.themeToggleButton {
  background: transparent;
  border: transparent;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

.themeToggleButton:hover {
  cursor: pointer;
}


.navLink {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: bold;
  font-family: var(--font-family);
  margin: 0;
  align-self: center;
}


.pageNameNav {
  display: flex;
  align-items: center;
  gap: 20px;
}


header {
  margin-top: 10px;
  height: 5vh;
  display: flex;
  gap: 40px;
  margin-right: 10vw;
  margin-left: 10vw;
}

body {
  width: 95vw;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: 80vh;
	min-height: 0;
	overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 5vh;
}

